@media screen and (max-width: 1024px) {

    .wrapper {
        padding-left: 80px;
        padding-right: 80px;
    }

    .greeting {
        width: 100%;
    }

    .caption {
        text-align: center;
        font-size: 65px;
    }

    .appeal__background {
        width: 100%;
    }

    .appeal__item {
        font-size: 30px;
        padding-left: 80px;
        padding-right: 80px;
    }

    .team__inner {
        display: grid;
        grid-template-columns: 350px 350px;
        grid-template-rows: 283px 283px;
        grid-gap: 40px;
        justify-content: center;
    }

    .team {
        height: 100%;  
    }
}

@media screen and (max-width: 768px) {

    .wrapper {
        padding-left: 80px;
        padding-right: 80px;
    }

    .logo{
        width: 184px;
        height: 45px;
        padding-top: 20px;
    }

    .header__link{
        font-weight:500;
        font-size: 20px;
    }

    .greeting {
        width: 100%;
    }

    .caption {
        text-align: center;
        font-size: 47px;
    }

    .appeal__background {
        width: 100%;
    }


    .appeal__item {
        font-size: 30px;
        padding-left: 80px;
        padding-right: 80px;
    }

    .team__inner {
        display: grid;
        grid-template-columns: 350px 350px;
        grid-template-rows: 283px 283px;
        grid-gap: 40px;
        justify-content: center;
    }

    .team {
        height: 100%;  
    }
}

@media screen and (max-width: 320px) {

    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header__wrapper {
        display: grid;
        grid-template-columns: 150px 150px;
        grid-template-rows: 85px;
        /* justify-items: center; */
        justify-content: center;
        align-items: center;
    }
    

    .logo{
        width: 70px;
        height: 17px;
        padding: 10px;
    }

    .header__item {
        height: 25px;
    }

    .header__link{
        font-size: 10px;
    }

    .header__inner {
        height: 260px;
    }

    .greeting {
        width: 100%;
        height: 260px;
    }

    .caption {
        margin-top: 65px;
        text-align: center;
        font-size: 25px;
        line-height: 25px;
    }

    .intro {
        padding-bottom: 48px;
    }
    
    h1 {
        margin: 0;
        font-size: 25px;
    }

    p {
        font-size: 10px;
        line-height: 15px;
    }

    .appeal__background {
        width: 100%;
        height: 260px;
    }


    .appeal__item {
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .advantages {
        padding-bottom: 20px;
    }

    .figure {
    margin-block-start: 8px;
    margin-block-end: 8px;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    }

    .ppc__logo {
        width: 35px;
        height: 35px;
    }

    .team__inner {
        display: grid;
        grid-template-columns: 146px 146px;
        grid-template-rows: 146px;
        grid-gap: 40px;
        justify-content: center;
    }

    .team {
        height: 100%;  
        padding: 20px;
    }

    .team__item {
        padding: 10px;
    }

    .member {
        width: 80px;
        height: 80px;
    }

    h2 {
        font-size: 12px;
    }

    em {
        font-size: 10px;
    }

    .footer {
        height: 90px;
    }

    .footer__item {
        font-size: 10px;
        line-height: 15px;
        font-weight: 300;
    }
}

